annotated-types==0.5.0; python_version >= "3.7"
markdown-it-py==3.0.0; python_version >= "3.8" and python_full_version >= "3.7.0"
mdurl==0.1.2; python_version >= "3.8" and python_full_version >= "3.7.0"
pydantic==2.1.1; python_version >= "3.7"
pydantic-core==2.4.0; python_version >= "3.7"
pygments==2.15.1; python_version >= "3.7" and python_full_version >= "3.7.0"
pyyaml==6.0.1; python_version >= "3.6"
rich==13.5.2; python_full_version >= "3.7.0"
typing-extensions==4.7.1; python_version >= "3.7"
