annotated-types==0.5.0; python_version >= "3.7"
black==23.7.0; python_version >= "3.8"
cfgv==3.3.1; python_full_version >= "3.6.1" and python_version >= "3.8"
click==8.1.6; python_version >= "3.8"
colorama==0.4.6; python_version >= "3.8" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.8" and python_full_version >= "3.7.0" and platform_system == "Windows"
coverage==7.2.7; python_version >= "3.7"
distlib==0.3.7; python_version >= "3.8"
filelock==3.12.2; python_version >= "3.8"
identify==2.5.26; python_version >= "3.8"
iniconfig==2.0.0; python_version >= "3.7"
markdown-it-py==3.0.0; python_version >= "3.8" and python_full_version >= "3.7.0"
mdurl==0.1.2; python_version >= "3.8" and python_full_version >= "3.7.0"
mypy==1.4.1; python_version >= "3.7"
mypy-extensions==1.0.0; python_version >= "3.8"
nodeenv==1.8.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.7.0" and python_version >= "3.8"
packaging==23.1; python_version >= "3.8"
pathspec==0.11.2; python_version >= "3.8"
platformdirs==3.10.0; python_version >= "3.8"
pluggy==1.2.0; python_version >= "3.7"
pre-commit==3.3.3; python_version >= "3.8"
pydantic==2.1.1; python_version >= "3.7"
pydantic-core==2.4.0; python_version >= "3.7"
pygments==2.15.1; python_version >= "3.7" and python_full_version >= "3.7.0"
pytest==7.4.0; python_version >= "3.7"
pytest-cov==4.1.0; python_version >= "3.7"
pyyaml==6.0.1; python_version >= "3.6"
rich==13.5.2; python_full_version >= "3.7.0"
ruff==0.0.280; python_version >= "3.7"
types-pyyaml==6.0.12.11
typing-extensions==4.7.1; python_version >= "3.7"
virtualenv==20.24.2; python_version >= "3.8"
